@model Paginacion
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
<h1>Listado de Historial Crediticio</h1>
</div>
    <div class="col-sm-6">
        <a class="btn btn-sucess d-block"
        asp-controller="HistorialCrediticio" asp-action="Create" >Nuevo Historial Crediticio</a>
    </div>  
</div>


<table class="table table-bordered table-table-striped">
    <tr>
        <th>Id</th>
        <th>Puntaje</th>
        <th>DeudasActivas</th>
        <th>DeudasVencidas</th>

    </tr>
     @foreach(HistorialCrediticio historialCrediticio in Model.entidades)
    {
        <tr>
            <td>@historialCrediticio.Id</td>
            <td>@historialCrediticio.Puntaje</td>
            <td>@historialCrediticio.DeudasActivas</td>
            <td>@historialCrediticio.DeudasVencidas</td>
             <td>
                <a asp-controller="HistorialCrediticio" asp-action="Edit" asp-route-id="@historialCrediticio.Id">Editar</a>
                 <a asp-controller="HistorialCrediticio" asp-action="Delete" asp-route-id="@historialCrediticio.Id">Borrar</a>

            </td>
        </tr>
        }
</table>
@{
    Html.RenderPartial("_paginacion", Model);
}
